<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Program.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <title>Contact Us</title>
</head>
<body class="contact">
    <h2 style="text-align:center; padding-top:30px;">Contact Us</h2>
    <div style="text-align: center;">
        <p style="text-align: center;">We value your feedback. Please provide your input so that we can serve you better.</p>
    </div>

    <div class="container" style="max-width: 1000px; margin-left: 500px; padding-top: 30px;">
        <form class="row g-4" method="post" asp-controller="Contact" asp-action="SubmitMessage">
            <div class="col-md-6">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="FirstName">
            </div>
            <div class="col-md-6">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="LastName">
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="Email" placeholder="name@example.com" value="" name="Email">
                    <label for="Email" style="color:black">Email address</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="Issue" aria-label="Floating label select example" name="Issue">
                        <option selected>Choose...</option>
                        <option value="Staff">Staff</option>
                        <option value="Order Placement">Order Placement</option>
                        <option value="Civil Matter">Civil Matter</option>
                        <option value="Improvements">Improvements</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="Issue" style="color:black">Issue</label>
                </div>
            </div>
            <div class="col-md-12">
                <label for="Experience" class="form-label">Tell us about your experience</label>
                <textarea class="form-control" id="Experience" name="Experience" rows="5"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn" style="background-color:#800000; color:white">Submit Message</button>
            </div>
        </form>
    </div>
</body>
</html>
