<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Program.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
    <title>Schedule</title>
</head>
<body class="schedule">
    <h2 style="text-align:center; padding-top:40px;">Event Schedule</h2>
    <div style="text-align: center;">
        <p style="text-align: center;">Check out the schedule for our upcoming events and sessions.</p>
    </div>

    <section class="meetings-page" id="meetings" style="padding-top:20px;">
    <div class="container" style="padding-left:60px">
        <div class="row">
            <div class="col-lg-13" style="width:93%;">
                <div class="row grid">
                    <!-- Dummy Entry 1 -->
                    <div class="col-lg-4 lebo-item-col all soon">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>12</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>New Lecturers Meeting</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 2 -->
                    <div class="col-lg-4 lebo-item-col all imp">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>14</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Online Teaching Techniques</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 3 -->
                    <div class="col-lg-4 lebo-item-col all soon">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>16</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Network Teaching Concept</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 4 -->
                    <div class="col-lg-4 lebo-item-col all att">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>18</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Online Teaching Tools</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 5 -->
                    <div class="col-lg-4 lebo-item-col all att">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>22</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>New Teaching Techniques</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 6 -->
                    <div class="col-lg-4 lebo-item-col all imp">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content" style="padding-right: 45px;">
                                <div class="date">
                                    <h6>Nov <span>24</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Technology Conference</h4></a>
                                <p>lebo is the best website<br>when it comes to Free CSS.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 7 -->
                    <div class="col-lg-4 lebo-item-col all imp att">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt="" width="auto" height="auto"></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>27</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Online Teaching Techniques</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 8 -->
                    <div class="col-lg-4 lebo-item-col all soon imp">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>28</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Instant Lecture Design</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 9 -->
                    <div class="col-lg-4 lebo-item-col all att soon">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>30</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Online Social Networking</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dummy Entry 10 -->
                    <div class="col-lg-4 lebo-item-col all soon imp">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href="meeting-details.html"><img src="~/images/meeting-01.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Dec <span>01</span></h6>
                                </div>
                                <a href="meeting-details.html"><h4>Web Development Workshop</h4></a>
                                <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
