/* Define CSS variables for colors */
:root {
    --primary-color: #04263E;
    --secondary-color: #999;
    --accent-color-1: #86172;
    --accent-color-2: #75001e;
}

/* Style the section */
#program-overview {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
}

/* Style the paragraph container */
.paragraph-container {
    display: flex;
    flex-wrap: wrap; /* Display paragraphs next to each other, wrapping to the next row when needed */
    gap: 20px; /* Gap between paragraphs */
    margin-top: 50px;
}

/* Style the paragraphs */
#program-overview p {
    flex: 1; /* Equal width for all paragraphs */
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: fadeInUp 1s ease forwards;
}

/* Define an animation for the paragraphs */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#program-categories {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
}

/* Style the category list */
.category-list {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to display list items horizontally */
    flex-wrap: wrap; /* Wrap items to the next row if they don't fit */
    gap: 20px; /* Gap between items */
    justify-content: space-between; /* Space items evenly along the row */
}

/* Style the category item */
.category-item {
    flex: 1; /* Equal width for all items */
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: fadeInUp 1s ease forwards;
    text-align: center; /* Center-align content within each item */
}

/* Define an animation for the items */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style the program schedule section */
#program-schedule {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow them to wrap to the next line if needed */
    gap: 20px; /* Gap between program entries */
}

    #program-schedule h2 {
        margin-bottom: 10px; /* Add some space below the heading */
    }

.sessions {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to display list items horizontally */
    flex-wrap: wrap; /* Wrap items to the next row if they don't fit */
    gap: 20px; /* Gap between items */
    justify-content: space-between; /* Space items evenly along the row */
}

.programs {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width:500px;
    margin-bottom:10px;
}

    .programs h3.program-name {
        margin: 0;
        font-weight: bold;
    }

    .programs button.show-details {
        background-color: var(--accent-color-2);
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-self: flex-start; /* Align the button to the left */
        margin-top: auto; /* Push the button to the bottom */
        border-radius: 10px;
        margin-left:5px;
        margin-bottom:5px;
    }


        .programs button.show-details:hover {
            background-color: var(--accent-color-2);
            
        }

.program-details {
    display: none;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; /* Add some spacing between program entries */
    flex: 1; /* Equal width for all program entries */
    flex-direction: column;
}

    .program-details p {
        margin: 5px 0;
    }

.program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .program-header .book-now{
        margin-top:15px;
        margin-right:10px;
    }

    .add-program-button {
        border: none;
        background-color: var(--secondary-color);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 16px;
        color: white;
        outline: none;
        margin-top: 10px;
        margin-left:80px;
    }

    /* Style the checkmark */
    .add-program-button.added::before {
        content: "\2714"; /* Unicode character for a checkmark */
        color: black !important;
    }

    /* Style the cross */
    .add-program-button:not(.added)::before {
        content: "\002B";
        color: #333;
        font-size: 24px;
        margin-top:-3px;
    }