<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Program.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <title>Contact Us</title>
</head>
<body class="contact">
    <h2 style="text-align:center; padding-top:30px;">Success</h2>
    <div style="text-align: center;">
        <h2>Thank you for your message. We'll get back to you soon.</h2>
    </div>

    <div class="container" style="max-width: 1000px; margin-left: 300px; padding-top: 30px;">
        
    </div>
</body>
</html>

